{% extends 'base.html' %} {% block content%}

<header class="container text-center mt-5 mb-5">
  <div class="d-flex flex-column flex-lg-row">
    <div class="p-2">
      <img
        class="img-fluid shadow-md rounded"
        src="/static/436.png"
        alt="Illustration of woman standing over houses, reaching for the stars"
      />
    </div>
    <div class="p-2 d-flex flex-column ">
      
      <div class="mb-4">
        <h1 class="display-2">Valdyk savo pinigus</h1>
      
      
        <p class="fs-5 mt-4 text-muted
        ">
        Nezinai ka daryti su pinigais????
        Pasiskolink ar investuok!!!
        </p>
      
      
      </div>
       <div class="d-flex justify-content-center gap-4 mt-4">
        <form  action="{{url_for('views.loan')}}">
          <button class="btn btn-success p-2"typ="submit">Paskolos skaiciuokle</button>
        </form>
        <form  action="{{url_for('views.invest')}}">
          <button  class="btn btn-success p-2">Investavimo skaiciuokle</button>
          </form>
       </div>
        
      </div>
    </div>
  </div>
</header>
<br/>

<section class="text-center p-5 bg-success text-white" >
  <h2 class="display-5"> Pasiek savo finansine laisve investuodamas</h2>
</section>



  

  <section class=" d-flex flex-column flex-lg-row p-5 align-items-center text-muted ">

    <div>
      <img class="img-fluid" src="/static/62.png" alt="Person sitting at desk on computer"/>
    </div>

    <div>
      <h3 class=" mx-auto px-5">Pirmas zingsis - Susimokek skolas</h3>
      <p class="mx-auto px-5 mt-4 text-start" style="max-width: 1200px;">
        Daugeliui iš mūsų skolos yra neišvengiama šiuolaikinio gyvenimo dalis. Būstas,
        sveikatos priežiūra, mokėjimai už automobilį. Sąrašas tęsiasi, bet ne visos skolos
        neišvengiamas. Tokie dalykai kaip kredito kortelių išlaidų sumažinimas arba daugiau
        įperkamas automobilis gali sutaupyti tūkstančius palūkanų. Štai kodėl
        daugelis finansų ekspertų pataria grąžinti visas dideles palūkanas (pvz., kreditą
        kortelės) skolos prieš investuojant. Svarstote imti paskolą, kad pirktumete vertingą pirkinį? Mūsų
        <a class="link-info text-decoration-none" href="{{url_for('views.loan')}}">Paskolos skaiciuokle</a> gali padėti pamatyti mokėtiną sumą.
      </p>
    </div>
   
  </section>

  <section class="d-flex flex-column flex-lg-row  align-items-center p-5 mb-5 bg-success text-white">
    
    <div class="order-2 order-lg-1">
      <h3 class="mx-auto px-5" >Antras žingsnis - investuok į ateitį</h3>
      <p class="mx-auto px-5  mt-4 text-start" style="max-width: 1200px;">
        Investuodami galite priversti palūkanų normas dirbti jums. Kai buvai pasiskolinęs,
        palūkanos tik tuštino tavo piniginę.
        Kai investuoji, viskas atvirkščiai. Netgi investuojant palyginti mažas
        sumos šiandien gali turėti įtakos jūsų ateičiai. Išbandykite mūsų
        <a class="link-info text-decoration-none" href="{{url_for('views.invest')}}">Investavimo skaiciuokle </a>sužinoti ateities gražą.
        </p>
      
    </div>
    <div class="order-1 order-lg-2"><img class="img-fluid" src="/static/72.png" alt="Person standing beside charts and graphs"/></div>
  </section>


{% endblock %}
